.clickable {
    cursor: pointer;
}

.app-title {
    position: absolute;
    left: 128px;
    top: 15px;
    font-weight: bold;
    font-size: 48px;
    font-family: sans-serif;
    color: white; 
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; 
}